<a href="https://colab.research.google.com/github/jonrtaylor/FL_covid_data_notebooks/blob/master/FL_caseline_w_hospitalizations_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
###   CLICK "Open in Colab" to get started ###

###   CLICK 'Runtime' ABOVE AND THEN CLICK 'Run all'

###   YOU WILL SEE A DATA TABLE BETWEEN THE TOP CELL AND THE BOTTOM CELL SHOWING YOU THE DATA IN THIS NOTEBOOK

###   THE LAST CELL CREATES A CSV FILE WHICH WILL DOWNLOAD TO YOUR PC

###   PLEASE SHARE THIS RESOURCE IF YOU FIND IT HELPFUL


import pandas as pd
import requests

url_front = "https://services1.arcgis.com/CY1LXxl9zlJeBuRZ/ArcGIS/rest/services/Florida_COVID19_Case_Line_Data_NEW/FeatureServer/0//query?where=ObjectId>"
url_back = "&objectIds=&time=&resultType=standard&outFields=*&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCountOnly=false&returnDistinctValues=false&cacheHint=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&sqlFormat=none&f=pjson&token="
object_id = 0
all_data = pd.DataFrame()
while object_id < 703199:
  JSONContent = requests.get(url_front + str(object_id) + url_back).json()
  df = pd.DataFrame([row['attributes'] for row in JSONContent['features']])
  df['Case1'] = pd.to_datetime(df.Case1, unit='ms')
  df['EventDate'] = pd.to_datetime(df.EventDate, unit='ms')
  df['ChartDate'] = pd.to_datetime(df.ChartDate, unit='ms')
  all_data = all_data.append(df, ignore_index=True)
  object_id += 32000
all_data

         County Age  ...           ChartDate ObjectId
0       Broward  33  ... 2020-07-28 05:00:00        1
1       Volusia  46  ... 2020-04-13 05:00:00        2
2           Lee  35  ... 2020-04-13 05:00:00        3
3       Flagler  26  ... 2020-04-13 05:00:00        4
4          Dade  34  ... 2020-08-11 05:00:00        5
...         ...  ..  ...                 ...      ...
685434     Dade  49  ... 2020-08-17 05:00:00   685435
685435   Orange  26  ... 2020-08-17 05:00:00   685436
685436    Duval  28  ... 2020-08-17 05:00:00   685437
685437  Broward  43  ... 2020-08-20 05:00:00   685438
685438     Dade  46  ... 2020-08-20 05:00:00   685439

[685439 rows x 16 columns]

In [2]:
all_data.ObjectId.nunique()

685439

In [ ]:
### Example to show how to filter for a certain County

all_data[all_data['County'] == "Alachua"]

         County Age  ...           ChartDate ObjectId
445     Alachua  24  ... 2020-07-28 05:00:00      446
691     Alachua  79  ... 2020-08-15 05:00:00      692
727     Alachua  88  ... 2020-07-29 05:00:00      728
806     Alachua  33  ... 2020-04-11 05:00:00      807
907     Alachua  25  ... 2020-07-25 05:00:00      908
...         ...  ..  ...                 ...      ...
606885  Alachua  24  ... 2020-07-21 05:00:00   606886
606886  Alachua  31  ... 2020-07-21 05:00:00   606887
607615  Alachua  83  ... 2020-06-27 05:00:00   607616
607719  Alachua  33  ... 2020-06-09 05:00:00   607720
607843  Alachua  33  ... 2020-08-11 05:00:00   607844

[5053 rows x 16 columns]

In [ ]:
all_data.to_csv('FL_caseline_file.csv', index=False)
from google.colab import files
files.download('FL_caseline_file.csv')

In [ ]:
#download only a single county
df2 = all_data[all_data['County'] == "Alachua"].copy()
df2.to_csv('Alachua_caseline_file.csv', index=False)
files.download('Alachua_caseline_file.csv')