<a href="https://colab.research.google.com/github/jonrtaylor/FL_covid_data_notebooks/blob/master/FL_caseline_w_hospitalizations_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
###   CLICK "Open in Colab" to get started ###

###   CLICK 'Runtime' ABOVE AND THEN CLICK 'Run all'

###   YOU WILL SEE A DATA TABLE BETWEEN THE TOP CELL AND THE BOTTOM CELL SHOWING YOU THE DATA IN THIS NOTEBOOK

###   THE LAST CELL CREATES A CSV FILE WHICH WILL DOWNLOAD TO YOUR PC

###   PLEASE SHARE THIS RESOURCE IF YOU FIND IT HELPFUL


import numpy as np
import pandas as pd
import requests
import json

url_front = "https://services1.arcgis.com/CY1LXxl9zlJeBuRZ/ArcGIS/rest/services/Florida_COVID19_Case_Line_Data_NEW/FeatureServer/0//query?where=ObjectId>"
url_back = "&objectIds=&time=&resultType=standard&outFields=*&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCountOnly=false&returnDistinctValues=false&cacheHint=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&sqlFormat=none&f=pjson&token="
object_id = 0
all_data = pd.DataFrame()
while object_id < 480000:
  JSONContent = requests.get(url_front + str(object_id) + url_back).json()
  df = pd.DataFrame([row['attributes'] for row in JSONContent['features']])
  df['Case1'] = pd.to_datetime(df.Case1, unit='ms')
  df['EventDate'] = pd.to_datetime(df.EventDate, unit='ms')
  df['ChartDate'] = pd.to_datetime(df.ChartDate, unit='ms')
  all_data = all_data.append(df, ignore_index=True)
  object_id += 32000
all_data

           County Age  ...           ChartDate ObjectId
0            Dade  34  ... 2020-06-20 05:00:00        1
1           Duval  35  ... 2020-07-09 05:00:00        2
2            Dade  82  ... 2020-03-29 05:00:00        3
3            Dade  42  ... 2020-03-29 05:00:00        4
4       St. Johns  21  ... 2020-04-23 05:00:00        5
...           ...  ..  ...                 ...      ...
461374    Unknown  27  ... 2020-07-28 05:00:00   461375
461375    Unknown  31  ... 2020-07-10 05:00:00   461376
461376    Unknown  18  ... 2020-07-29 05:00:00   461377
461377    Unknown  28  ... 2020-07-07 05:00:00   461378
461378    Unknown  40  ... 2020-07-12 05:00:00   461379

[461379 rows x 16 columns]

In [5]:
### Example to show how to filter for a certain County

all_data[all_data['County'] == "Alachua"]

         County Age  ...           ChartDate ObjectId
85      Alachua  23  ... 2020-07-23 05:00:00       86
189     Alachua  41  ... 2020-07-15 05:00:00      190
842     Alachua  24  ... 2020-06-29 05:00:00      843
963     Alachua  53  ... 2020-06-29 05:00:00      964
1361    Alachua  27  ... 2020-06-23 05:00:00     1362
...         ...  ..  ...                 ...      ...
460220  Alachua  30  ... 2020-04-21 05:00:00   460221
460274  Alachua  22  ... 2020-07-26 05:00:00   460275
460485  Alachua  21  ... 2020-06-27 05:00:00   460486
460518  Alachua  28  ... 2020-03-29 05:00:00   460519
460526  Alachua  64  ... 2020-06-16 05:00:00   460527

[3448 rows x 16 columns]

In [ ]:
all_data.to_csv('FL_caseline_file.csv', index=False)
from google.colab import files
files.download('FL_caseline_file.csv')