<a href="https://colab.research.google.com/github/jonrtaylor/FL_covid_data_notebooks/blob/master/FL_state_testing_totals_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
###   CLICK "Open in Colab" to get started ###

###   CLICK 'Runtime' ABOVE AND THEN CLICK 'Run all'

###   YOU WILL SEE A DATA TABLE BETWEEN THE TOP CELL AND THE BOTTOM CELL SHOWING YOU THE DATA IN THIS NOTEBOOK

###   THE LAST CELL CREATES A CSV FILE WHICH WILL DOWNLOAD TO YOUR PC

###   PLEASE SHARE THIS RESOURCE IF YOU FIND IT HELPFUL


import numpy as np
import pandas as pd
import requests
import json

url = "https://services1.arcgis.com/CY1LXxl9zlJeBuRZ/ArcGIS/rest/services/state_daily_testing/FeatureServer/0/query?where=ObjectId>0&objectIds=&time=&resultType=standard&outFields=*&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCountOnly=false&returnDistinctValues=false&cacheHint=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&sqlFormat=none&f=pjson&token="
JSONContent = requests.get(url).json()
df = pd.DataFrame([row['attributes'] for row in JSONContent['features']])
df['Date'] = pd.to_datetime(df.Date, unit='ms')
df

                   Date  Negative  Positive   Total  PercentPositive  ObjectId
0   2020-01-28 05:00:00         1         0       1             0.00      1238
1   2020-01-30 05:00:00         3         0       3             0.00      1239
2   2020-02-03 05:00:00         2         0       2             0.00      1240
3   2020-02-07 05:00:00         1         0       1             0.00      1241
4   2020-02-10 05:00:00         1         0       1             0.00      1242
..                  ...       ...       ...     ...              ...       ...
244 2020-10-22 05:00:00     89021      3700   92721             3.99      1482
245 2020-10-23 05:00:00    115994      4399  120393             3.65      1483
246 2020-10-24 05:00:00     47809      2356   50165             4.70      1484
247 2020-10-25 05:00:00     53151      3338   56489             5.91      1485
248 2020-10-26 05:00:00     63637      4289   67926             6.31      1486

[249 rows x 6 columns]

In [ ]:
df.to_csv('FL_testing_totals_by_day.csv', index=False)
from google.colab import files
files.download('FL_testing_totals_by_day.csv')